[2016-10-12 07:37] mkozjak opened #1 "Create benchmarks"
We should have benchmarks for both client and server-side like [uWebSockets](https://github.com/uWebSockets/uWebSockets) does.

[2016-11-02 16:05] mkozjak opened #2 "client fails if trying to subscribe to an unregistered event"
Investigate if we need an object of events when on server-side, since client's API for ```subscribe``` only takes a string parameter.

[code]

[2016-11-03 14:15] #2 closed

[2016-11-21 14:54] mkozjak opened #3 "timeout on .call()"
Maybe we should have a possibility to set a timeout after which the ws.call method should throw.

[2016-11-21 23:29] #3 closed

[2017-03-10 09:29] mkozjak opened #4 "implement 'namespaces' feature"
https://github.com/socketio/socket.io/blob/master/docs/API.md#namespace

[2017-03-10 16:02] mkozjak opened #5 "migrate ws to 2.x"
Currently the test 1 from server spec fails with:
[code]

[2017-03-10 22:09] mkozjak opened #6 "migrate to babel-preset-env from babel-preset-latest"
```npm WARN deprecated babel-preset-latest@6.22.0: 💥  preset-latest accomplishes the same task as babel-preset-env. 🙏  Please install it with 'npm install babel-preset-env --save-dev'. '{ "presets": ["latest"] }' to '{ "presets": ["env"] }'. For more info, please check the docs: http://babeljs.io/docs/plugins/preset-env```

[2017-03-11 13:52] #4 closed

[2017-03-13 14:20] mkozjak opened #7 "register methods via namespaces"
The default namespace should be ```/```.

Should each client which is connected to a specific namespace only be provided methods from that namespace?

[2017-03-17 17:13] #6 closed

[2017-03-21 09:40] mkozjak opened #8 "consider switching to uws or using configurable backends"
https://github.com/uWebSockets/uWebSockets seems to be very performant.

[2017-03-23 07:03] mkozjak commented on #8
Still waiting for this PR to be merged. https://github.com/uWebSockets/uWebSockets/pull/539

[2017-03-26 11:57] #7 closed

[2017-03-26 12:29] mkozjak commented on #5
...or switch to uWebSockets #8.

[2017-03-26 12:30] mkozjak commented on #8
PR is now merged. Should start working on it.

[2017-03-27 07:31] #8 closed

[2017-03-27 07:31] #5 closed

[2017-03-29 11:39] mkozjak opened #9 "browser support"
We need client support for internet browsers.
Should we rely on an html5 websocket implementation and do a separate browser logic?

[2017-03-30 08:25] mkozjak opened #10 "support ws options on client.call"
https://github.com/websockets/ws/blob/master/doc/ws.md#websocketsenddata-options-callback

[2017-04-03 09:10] #10 closed

[2017-04-04 12:35] mkozjak commented on #9
Browser tests should also be included.

#zuul
#saucelabs

[2017-04-21 20:47] dstreet opened #11 "Fails when trying to send an object with circular references"
This is do to `JSON.stringify()`, which cannot handle circular objects. Could use [circular-json](https://github.com/WebReflection/circular-json) to handle this.

Let me know what you think of the approach. I'd be happy to submit a PR.

[2017-04-22 10:57] mkozjak commented on #11
Yes, PR welcome! Thanks for reporting that out, too!!

[2017-04-23 19:10] #11 closed

[2017-04-25 11:20] mkozjak commented on #1
Test against json-rpc2.

[2017-05-04 12:22] soulhunter1987 commented on #9
What about this issue? Generally current Client logic is fully appropriate for browser usage. The only main problem, as i see, is uws usage, which must be replaced with native WebSockets for browser.

[2017-05-04 12:35] mkozjak commented on #9
Hi, @soulhunter1987!

For the browser we use browserify, which will take care of our client code.
After installing rpc-websockets, you can copy file ./dist/index.browser.js to your frontend code, since browserify bundled the entire library there for you.
An RPCWebSocket class is exposed there for you to use.

This is an example html: https://gist.github.com/mkozjak/fa9296484c40445af516e563c65536bf

[2017-05-04 12:43] soulhunter1987 commented on #9
That will do the job but, not very efficiently. It would be good to also allow compiling from source with webpack or some other bundling tools. That would allow to write ES6-style code and then bundle (and may be transpile for old browsers) it as appropriate for the project. Also it would reduce size of resulting bundle, because repeating dependencies would be included only once.

[2017-05-04 13:00] soulhunter1987 commented on #9
Automatic updates via npm/yarn are also not available with this approach, because one will need to copy new file to his project's public directory (of course that may be automated, but that's extra work).

[2017-05-04 13:05] soulhunter1987 commented on #9
index.browser.js is really HUGE now, because it includes uws (which is not needed there at all), eventemitter and many other libraries, which may already be used in the project.

[2017-05-04 13:06] mkozjak commented on #9
Agreed. TBH, I'm not really experienced with bundlers, so could you point me in the right direction with some examples, maybe? Also, PR welcome!

[2017-05-04 15:04] soulhunter1987 commented on #9
First of all you need to supply "src" directory in the package along with "dist".
Then one approach is to manually import and pass "transport" object (uws or browser websocket) to Client constructor via dependency injection.
NodeJs usage would look like this then:
[code]
And browser ES6 code would be:
[code]
where "WebSocketWrapper" is your src/lib/client/websocket.browser.js wrapper class.

So wi

[2017-05-04 15:08] soulhunter1987 commented on #9
If you create a separate branch with this solution implemented - I could try and test it's browser usage.

[2017-05-09 09:45] mkozjak commented on #9
@soulhunter1987: Can you please give me an example library/project where both src and dist are shipped and dependencies are handled like described?

[2017-05-09 12:01] dstreet commented on #9
@mkozjak mongoose handles this situation pretty well without needing to publish the dist. I might be able to put together a PR sometime today.

[2017-05-09 12:07] mkozjak commented on #9
@dstreet: I believe you meant 'src', since the dist directory should definitely be published. :)

[2017-05-15 13:31] dstreet commented on #9
@mkozjak I got slammed with some other project work. I'm not sure when I'll have time to get to this, sorry.

[2017-05-18 17:04] dstreet commented on #9
Finally got some time to work on this. I'll submit a PR soon.

[2017-05-18 18:07] dstreet commented on #9
Submitted PR #13. @soulhunter1987 can you test this on your end?

[2017-05-18 20:47] #9 closed

[2017-05-18 20:48] mkozjak commented on #9
Awesome work, @dstreet! Thanks!
Will wait for @soulhunter1987 to check up on it just in case and publish the update afterwards.

[2017-05-18 20:50] dstreet commented on #9
Great, thanks!

[2017-05-25 14:57] dstreet commented on #9
@soulhunter1987 Do you think you'll have time to review this soon? Turns out I need this for a project I'm working on.

[2017-05-25 19:39] mkozjak commented on #9
@dstreet I will publish this release now. If it works for you, I am okay with it.

[2017-05-26 15:24] dstreet commented on #9
@mkozjak Looks like you forgot to rebuild the `dist` before publishing to npm. I apologize if this was a miscommunication on my part

[2017-05-26 15:50] mkozjak commented on #9
@dstreet I forgot to include the dist directory altogether. It was still in .gitignore.

[2017-05-26 15:53] mkozjak commented on #9
@dstreet Published. Can you check on it, please?

[2017-05-26 16:33] dstreet commented on #9
Still broken, but I found where the problem is. commit 2c20dddd5b87347189fc7e3e02084285b9aea00b reverted the change I had made to the build script

[2017-05-31 13:29] Rawa opened #14 "rpc-websockets client fails to resolve localhost"
Just spent several hours debugging rpc-websockets and eventually uWebsockets because my rpc-websocket client couldn't connect to localhost.

Eventually found the issue, if localhost is resolved as ::1 (localhost of ipv6) The underlying library uWebsockets will produce the following error:
[code]

For now I suggest we link this issue to the bug [existing issue ](https://github.com/uNetworking/uWebS

[2017-05-31 13:30] Rawa commented on #14
https://github.com/uNetworking/uWebSockets/issues/342

[2017-08-14 22:38] ulion opened #15 "Conflict with primus"
still no idea why, but with this project imported, the primus will stop working. some hidden conflict between them each other happened.

[2017-08-14 22:44] ulion commented on #15
also reported in primus https://github.com/primus/primus/issues/604

[2017-08-18 07:55] ulion commented on #15
which indicated that I used wrong url in the case, sorry for the noise.

[2017-08-18 07:55] #15 closed

[2017-09-19 15:58] dstreet opened #16 "Passing client options causes browser WebSocket to fail"
When connecting to a client and including an options object:

[code]
the following error is thrown:
[code]

The browser implementation of `WebSocket` expects a protocol string or array of protocol strings as the second argument to the constructor.

[2017-09-19 16:00] dstreet commented on #16
This should be a pretty simple fix. Since the `protocols` argument isn't being utilized by the implementation, `websocket.browser.js` can be modified to not use this argument.

[2017-09-20 05:29] #16 closed

[2017-10-06 17:06] jmcbee opened #18 "Client batch request?"
How do you make a batch request from the client?

[2017-10-06 20:58] mkozjak commented on #18
@jmcbee In a stringified array, like this: https://github.com/qaap/rpc-websockets/blob/master/test/server.spec.js#L607

[2017-10-06 20:58] #18 closed

[2017-10-09 09:54] msergdeez opened #19 "Client 'on' params as an Object"
https://github.com/qaap/rpc-websockets/blob/c335c872f8ea46df06848d21ac57df30457322d7/src/lib/client.js#L218

I can't use notification parameters if it is an Object, only if it is an Array.

[2017-10-09 10:39] mkozjak commented on #19
Would be handy if you attached an example and an error, so I don't have to lose time on reverse engineering.

[2017-10-09 11:46] msergdeez commented on #19
I subscribe my Client to 'act.change' event:

`ws.on('act.change', p => {console.log(p)})`

and on
[code]
notification I see 'undefined' in the console due to "params" is an Object and params.length === undefined,

https://github.com/qaap/rpc-websockets/blob/c335c872f8ea46df06848d21ac57df30457322d7/src/lib/client.js#L225
[code]

[2017-10-09 12:19] msergdeez commented on #19
I made a custom json.Marshal for encoding any notification params as an array on the server-side but it's sad.

[2017-10-09 12:20] mkozjak commented on #19
Thanks!!! Will take a look into it asap!

[2017-10-10 08:50] #19 closed

[2017-10-10 09:38] msergdeez commented on #19
Awesome! Thanks for the response!

[2017-10-10 09:49] mkozjak commented on #19
@msergdeez: 3.5.0 including the fix is now published!

[2017-10-12 01:40] PhilAndrew opened #20 "Does it work on Windows?"
I paste the example as you have it on your README.md and run it and the only output is
[ 'feedUpdated' ]

[2017-10-12 03:40] dstreet commented on #20
I think that is expected because the only thing that is logged is the event list on the server.

[2017-10-12 03:54] PhilAndrew commented on #20
I put log in ws.on('open', function() { and it never happens :(

[2017-10-12 03:58] dstreet commented on #20
ok. I'm not able to test on Windows, but if you provide a full code example I'll see if it is a universal bug

[2017-11-03 12:42] meotimdihia opened #21 "Need help: How work with this API, Add ID to JSON-RPC call"
https://hitbtc.com/api#get-currencies
How to add id to JSON-RPC call
[code]

[2017-11-03 13:56] #21 closed

[2017-11-03 14:02] mkozjak commented on #21
Currently ID cannot be set manually. Why would you need this? ID is set automatically and should not make any differences for you at all..

[2017-11-03 14:15] meotimdihia commented on #21
Sorry, it is work now, but response time is very slow.

[code]

Its faster if i use `ws` package .

[2017-11-03 14:35] mkozjak commented on #21
I highly doubt it it's slower than `ws`, because I'm using `uws` instead, which is a lot faster. Can you provide any tests and times?

[2017-11-03 14:56] meotimdihia commented on #21
If you run this code, it take more 10s to response

`index.js`
[code]

`index2.js` under 5s
[code]

and its strange, if i combile code in 2 files, then code use `rpc-websockets` will response immeditely.

[2017-11-03 15:49] mkozjak commented on #21
On a Mac Mini 1 is `0.13s user 0.03s system 50% cpu 0.307 total` and 2 is `0.11s user 0.03s system 46% cpu 0.289 total`.

rpc-websockets does some computation with ws data, hence the overhead. But this is nowhere 5 or 10 seconds.

[2017-11-03 16:14] meotimdihia commented on #21
I found out the problem:
Reason is node version. I removed node 8.9 on my Windows Creators then reinstall node 6.x.

[2017-11-24 20:42] psn80 opened #23 "Request headers"
I want to do authentication by token in the headers of requests
How to take request headers?

[2017-11-25 17:12] mkozjak commented on #23
@psn80: Thanks for reporting. Waiting for upstream to solve the issue.

[2017-11-26 11:51] mkozjak commented on #23
There's a need to patch the upstream uWebSockets library. It currently doesn't handle custom headers. This will take time to solve.

[2017-11-30 22:35] psn80 opened #24 "Not working path in server options"
[code]

[2017-11-30 23:03] dstreet commented on #24
It looks like httpsServer isn't declared until after you initialize the web socket server

[2017-11-30 23:51] psn80 commented on #24
Without path option this code works. In general, I'm trying to implement a server for chat with mobile and web clients with rpc and pubsub capabilities on different routing and https

[2017-12-01 08:35] mkozjak commented on #24
@psn80: No, this code doesn't work without path option, either.
This code example is obviously not complete.

This one works:
[code]

[2017-12-01 08:35] #24 closed

[2017-12-03 08:25] mkozjak commented on #20
Closing as inactive.

[2017-12-03 08:25] #20 closed

[2018-01-26 05:33] dstreet commented on #23
Any update on this?

[2018-01-26 07:38] mkozjak commented on #23
Unfortunately, no, as I try juggling between several different projects, at the moment.
As usual, PRs are welcome. There's a repo which should be patched here: https://github.com/qaap/uws-bindings

I could also use your fork if a patch is done, if you get it done before me. Sorry for the inconvenience.

[2018-01-26 12:47] dstreet commented on #23
No worries. I completely understand. I'll try to take a look at this over the next few days

[2018-02-02 22:26] AndreasGassmann opened #26 "Need help: How to "subscribe" to a feed?"
I'm trying to use the this library to get market/trading data from HitBTC. (e.g. subscribing to ticker: https://api.hitbtc.com/#subscribe-to-ticker)

The problem is that I'm not 100% sure how I have to do that.

When I do the following it just prints "true" and doesn't print anything else.

[code]

I dug into the code and saw that the library receives the updates from the server after `ws.call('su

[2018-02-03 09:26] mkozjak commented on #26
@AndreasGassmann, thanks for reporting this. I believe this is a bug in our library. I'm trying to patch it and will release it asap.

[2018-02-03 10:22] #26 closed

[2018-02-03 10:28] mkozjak commented on #26
@AndreasGassmann: This is fixed in 3.6.2.

You would use it like this:
[code]

`ws.on` is an event handler, and since they expose `ticker` as their notification, it will end up there.

[2018-02-06 22:20] #23 closed

[2018-02-06 22:20] #14 closed

[2018-02-06 22:22] mkozjak commented on #23
I've decided to switch back to `ws` to get features you guys need. I also decided not to lose time on uws which lacks certain features and is led by a person I do not approve actions of.

[2018-02-06 22:23] mkozjak commented on #14
@Rawa: Should work in 4.0.0, since I've switched back to `ws`.

[2018-02-18 17:31] dinkoivanov opened #27 "Browser client"
Hi,

Thanks for the great library!
I've written a small Node JS server, and I want to use it from my frontend running in the browser. Can I do that?
I saw a dist/index.browser-bundle.js file and included it in my index.html. How can I instantiate the client using this bundle? Normally I would do:
`
var WebSocket = require('rpc-websockets').Client
`
`
var ws = new WebSocket('ws://localhost:8080')
`

[2018-02-18 18:10] mkozjak commented on #27
Hi and thanks for using this library! Please check this example https://gist.github.com/mkozjak/fa9296484c40445af516e563c65536bf
This should work for you!

[2018-02-19 18:15] dinkoivanov commented on #27
Thanks for the quick reply Mario!

Where can I find the referenced **./lib/rpcwebsockets.js** file?

Regards,
Dinko

[2018-02-19 18:26] mkozjak commented on #27
Depends on how you install dependencies with your bundler.
In example, when using browserify or webpack, you can just `require('rpc-websockets')` after install with `npm install rpc-websockets`.

[2018-02-23 01:05] dinkoivanov commented on #27
Thanks Mario! I figured it out in the end.

[2018-02-23 01:05] #27 closed

[2018-02-23 07:16] mkozjak commented on #27
Thanks! Feel free to write a simple example here if your setup is specific, maybe it will help someone else, also!

[2018-03-25 13:51] ScriptWorker opened #29 "Support for server request and client response"
We have a case when the server should make requests to the client. At this point this library do not have such functionality, while specification do not restrict regarding this.

Do you interested in merging such PR if we will implement it?

[2018-03-25 14:37] mkozjak commented on #29
Hello! Can you just run both server and client instances on both sides? That would solve the case.

[2018-03-25 14:45] ScriptWorker commented on #29
Hello! Unfortunately no, as the server can't connect to the client. Basically we can't guarantee, that the client won't be under the firewall protection or even to have an external ip address.

[2018-03-25 21:02] mkozjak commented on #29
@ScriptWorker: Ok, I agree and I would gladly merge the feature if no current use cases break!

[2018-06-27 23:04] mkozjak commented on #29
@ScriptWorker Any progress here, maybe?

[2018-06-28 12:01] leokra opened #34 "public connect-function for autoconnect:false"
Hello,

thanks for your work on this Module. I have a question regarding the client options:
You can set autoconnect: false upon intialization of the WebSocket.Client. But where can I can actually call something like connect? In the implementation I only found "_connect", which does not seem to be intended as a public function.

Is there any reason for _connect being private?

[2018-06-28 12:39] #34 closed

[2018-06-28 12:39] mkozjak commented on #34
Hi, @leokra! Thank you for this report. Managed not to see this bug. Fixed in 4.1.3!

[2018-08-01 06:18] oxygen commented on #29
@ScriptWorker
https://www.npmjs.com/package/jsonrpc-bidirectional

[2018-08-16 17:17] jhorology opened #35 "Subscribing multiple events at once"
Now I'm developing a RPC server by Java and it's using more than thousand events.
I would be gratefull if you could consider about following proposal.

[code]

[2018-08-17 10:05] mkozjak commented on #35
Hello, @jhorology! This is a nice proposal, yes! It is already handled on my server side. Should be implemented on the client, still. Need to figure out good error handling regarding this.

[2018-08-17 11:29] #35 closed

[2018-08-17 11:29] mkozjak commented on #35
The feature is available in 4.3.0.

[2018-08-17 11:34] jhorology commented on #35
Really thank you for you so quick work!!

[2018-08-29 11:15] yriiarutiunian opened #36 "how to use?"
What the hell is this? How to use this shit?
How can i separate the client and server side and why is the whole code of both sides in one file on the main page? Thank you very much!

[2018-08-29 14:15] dstreet commented on #36
@yriiarutiunian rpc-websockets is a JSON RPC implementation over websocket. The API documentation can be found here: https://github.com/elpheria/rpc-websockets/blob/master/API.md

[2018-09-27 08:56] martasusek opened #37 "Client.reconnect bug"
I'm trying to stop `Client` form attempting to reconnect by setting `Client.reconnect = false`. This doesn't work. I think the problem is here:
```if (this.reconnect && (this.max_reconnects > this.current_reconnects) || this.max_reconnects === 0) ```
I think this should be written as: ``` if (this.reconnect && ((this.max_reconnects > this.current_reconnects) || this.max_reconnects === 0))```
Can y

[2018-09-27 09:46] #37 closed

[2018-10-17 09:52] FMRb commented on #29
Any update on version 5.x? I would like the library to support this feature

[2018-10-17 09:59] mkozjak commented on #29
@FMRb Unfortunately, no. Out of resources currently!

[2019-01-17 13:23] yriiarutiunian opened #38 "how to build it to use in webbrowser?"
Hello!
how to build it to use in webbrowser?
Thank you in advance.

[2019-01-17 14:41] mkozjak commented on #38
Hello,

Build it with `npm build` and check the `dist` directory for browser files. Also check https://github.com/elpheria/rpc-websockets/tree/master/dist

[2019-01-17 14:41] #38 closed

[2019-01-17 19:33] yriiarutiunian commented on #38
I got this after I run build

$ npm run build

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! rpc-websockets@4.3.5 build: `mkdir -p ./dist && eslint --fix -c ./.eslintrc './src/**/*.js' './test/**/*.js' && babel ./src -d ./dist && browserify -sRPCWebSocket ./dist/index.browser.js > ./dist/index.browser-bundle.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the rpc-websockets@4.3.5 build

[2019-01-17 19:36] mkozjak commented on #38
For me it worked correctly:
[code]

Try doing `rm -rf node_modules && npm i` preventively.

[2019-01-17 20:04] yriiarutiunian commented on #38
No, it wouldn't work for me.
Maybe there's something I do wrong during the install process.
Here it is:
$ git clone https://github.com/elpheria/rpc-websockets.git
$ cd rpc-websockets
$ npm i
$ npm run build

[2019-01-17 20:05] mkozjak commented on #38
Which node and npm versions are you running?

[2019-01-17 20:07] yriiarutiunian commented on #38
$ npm -v
6.4.1

$ node -v
v10.15.0

[2019-01-17 20:39] yriiarutiunian commented on #38
the last one went wrong.
this is what it says:
$ ./node_modules/.bin/browserify -sRPCWebSocket ./dist/index.browser.js > ./dist/index.browser-bundle.js
Error: --standalone requires an export name argument
    at error (C:\tmp1\rpc-websockets\node_modules\browserify\bin\args.js:110:17)
    at module.exports (C:\tmp1\rpc-websockets\node_modules\browserify\bin\args.js:242:9)
    at Object.<anonymous>

[2019-01-17 20:43] mkozjak commented on #38
Can you give me an output of this?
```cat package.json| grep build```

[2019-01-17 20:48] yriiarutiunian commented on #38
yes, i can. here it is:

$ cat package.json | grep build
    "build": "mkdir -p ./dist && eslint --fix -c ./.eslintrc './src/**/*.js' './test/**/*.js' && babel ./src -d ./dist && browserify -s RPCWebSocket ./dist/index.browser.js > ./dist/index.browser-bundle.js",
    "pretest": "npm run-script build",

but now it gives NO ERROR after I do the last line right,

[2019-01-17 20:50] mkozjak commented on #38
Ok, might be that your package.json is messed up. Look at the comment where you posted the `npm run build` line with an error. You had browserify -sRPCWebSocket in it.

[2019-01-17 21:01] yriiarutiunian commented on #38
Ok. Thank you. there's one more star from me, man!

[2019-04-10 13:55] mkozjak commented on #29
Will do, thanks!

On Wed, Apr 10, 2019, 15:48 davidmoshal <notifications@github.com> wrote:

[2019-05-08 21:48] clarktlaugh opened #39 "How to correctly handle UnhandledPromiseRejectionWarning?"
I have a method registered that looks like this:

[code]

When there is an error and the `throw` executes, I get the following in the console:
[code]

What I am attempting to do is throw an error that the client code can receive and handle.  This is working properly as far as I can tell.  But, in my server code, I'm getting that console output.  Is there something else I need to do to throw an err

[2019-05-08 22:01] clarktlaugh commented on #39
I'm sorry - I just figured out what the problem is.   This is received when trying to perform about 8 operations, and the first one fails.  After the client receives an error, it disconnects the websocket, and I'm assuming that the server is still trying to send the errors back but the socket is already disconnected.

[2019-05-08 22:01] #39 closed

[2019-07-29 06:58] zh99998 opened #41 "ability to get connection"
I want to save some per-connection variables. for example:
[code]

but I can't find anyway to tell apart which connection when my rpc methods was called from.

[2019-07-29 17:03] mkozjak commented on #41
Just write to your ws object which was generated via
[code]
or choose from some js-generated variables on the object.

[2019-07-29 17:03] #41 closed

[2019-08-06 08:26] petslane opened #42 "WS connection based context/session data"
Is there some way to have authentication mechanism or have session data based on ws connection?

Basically I would like to register methods that are usable anonymously (eg. `login`) and methods that require authenticated connection (eg. `getPermissions`). So on client connect, when calling `getPermissions` I would get some error, but calling it after successful `login`, I would get my data.

This

[2019-08-06 10:48] mkozjak commented on #42
@petslane: this feature is not available at this time. It's clearly an interesting use-case and it might be implemented without any problems. ws' `connection` has all sufficient parameters to handle login data such as cookies, etc.
Care to do a PR, maybe?

[2019-08-07 22:16] mkozjak commented on #42
@petslane: Care to test this feature? It should be ready. Please check the PR.

[2019-08-08 08:39] coderNeos opened #44 "Server should check socket state before calling 'send' method"
https://github.com/elpheria/rpc-websockets/blob/2f0f59e181e4b5338b878848a53198bcb199ee6f/src/lib/server.js#L417

In case if client socket closes the connection - 'send' will cause an unhandled rejection, which in some production environments might lead to application crash!

Mentioned problem is relevant to any other socket.send call.

Steps to reproduce:

1. Call some long running rpc task
2. Clo

[2019-08-08 08:40] mkozjak commented on #44
Hi, @coderNeos! Thanks for reporting! Care to do a PR?

[2019-08-08 08:42] coderNeos commented on #44
Hi, i think i will be able to fix that issue in my free time.

[2019-08-08 08:42] mkozjak commented on #44
Thank you so much!

[2019-08-08 14:29] #42 closed

[2019-08-10 13:28] mkozjak commented on #42
This feature is now available in version 4.6.1.

[2019-08-27 12:06] altjz opened #46 "Add an event for client disconnect of namespace on server"
Great thanks to this nice library.

I need to do some cleanup job after client disconnect from server. Is it possible to emit an event after client disconnect?
[code]
or
[code]

[2019-08-27 12:24] mkozjak commented on #46
Hi, @altjz! Thanks!

Please use server's `connection` event to get the socket and set events on it.
https://github.com/elpheria/rpc-websockets/blob/master/API.md#event-connection

For example:
[code]
websockets/ws is the backend library underneath rpc-websockets, so this applies:
https://github.com/websockets/ws/blob/master/doc/ws.md#event-close-1

[2019-08-27 12:24] #46 closed

[2019-08-27 12:49] altjz commented on #46
thanks @mkozjak for quick response.
I tried this before, but is it possible to do some cleanup job after all sockets disconnect from specific namespace?

[code]

[2019-10-08 08:25] altjz opened #48 "namespace event emit arguments not correct"
Here is the example code:
[code]

[code]

Expected output:
['aaa', 'bbbb', 'cccc'], 3

Giving output:
['a', 'a', 'a', 'a'], 4

no issue when use server.emit

[2019-10-14 08:17] AneliqBlagoeva commented on #27
Hello! I have the same issue as @dinkoivanov. I used the provided html example after installing rpc websockets but receive the error for not finding ./lib/rpcwebsockets.js. Could you please help me or navigate me to the file?
P.S I successfully run server and client examples using the console.

[2019-10-14 08:58] mkozjak commented on #27
Hi, @AneliqBlagoeva, it really depends on your bundler. In example, when using browserify or webpack, you can just require('rpc-websockets') after install with npm install rpc-websockets.

[2019-11-06 00:06] moltar opened #49 "TypeScript support"
Please add TypeScript support either via type declarations or rewriting in TypeScript.

Thanks!

[2019-11-11 19:51] mkozjak commented on #49
Hello, @moltar, thanks for the suggestion!
PRs welcome, I guess we can bring this one in soon.

[2019-11-13 15:39] lucaswxp commented on #44
Anyone got this?

[2019-11-14 14:32] coderNeos commented on #44
Nope, i didn't have any spare time to address this issue

[2019-11-14 14:34] mkozjak commented on #44
@lucaswxp: Wanna try providing a PR?

[2019-11-17 14:41] #49 closed

[2019-11-17 14:45] mkozjak commented on #49
@moltar: This feature is now available in version 5.0. Please give it a go!

[2019-11-18 09:34] mkozjak commented on #29
@ScriptWorker @davidmoshal @FMRb: This is now available in version 6.0.0-beta.0.

[2019-11-18 18:11] baso53 commented on #48
Should be resolved in this [PR](https://github.com/elpheria/rpc-websockets/pull/53)

[2019-11-19 10:05] mkozjak commented on #48
@altjz: Please reopen if needed.

[2019-11-19 10:05] #48 closed

[2019-12-10 20:46] nguyer opened #55 "Incorrect index for arguments causes websocket upgrade to fail"
https://github.com/elpheria/rpc-websockets/blob/cf401e8d80c51d5f8375ca3f9829da7d196a3039/src/lib/client.ts#L83-L95
Line 83 appears to be causing the websocket upgrade to fail inside the `ws` library. When I create a new `Client`, `arguments[1]` is the websocket URL and not an options object. This results in my URL getting passed into the `ws` library where it is expecting an options object. Ultima

[2019-12-11 12:31] PrakharPatidar opened #58 "Help regarding setting up the library"
Hi Everyone.
I am very new to websockets and RPC protocol. I want to exchange the information between two servers. Came across this library. Does this library solve this purpose?

Anyway, I am using following code snippets for RPC server and client.

**Server Side Code :**
[code]

**Client Side Code**
[code]

The issue is client is not able to connect to RPC server. **ws.open** function is not get

[2019-12-11 12:36] surendragalwa11 commented on #58
I'm too facing the same issue.
Started with the *getting started** example but nothing seems to happen in b/w client and server.
Unable to trigger any event and connect to the server socket on the client-side.

[2019-12-11 18:43] mkozjak commented on #58
Why are you calling `server.close()` in your server-side code?

[2019-12-11 19:05] #58 closed

[2019-12-12 08:43] PrakharPatidar commented on #58
Thanks a ton. I removed server.close() and it worked.
So practically when should we use server.close() in this context.

[2019-12-13 01:41] #55 closed

[2019-12-17 14:25] dinkoivanov opened #60 "Can I use rpc-websockets in a browser application?"
Hi,

If I add the index.browser-bundle.js in the HTML page scripts, how do I instantiate the WebSocket? I tried var ws = WebSocket('ws://localhost:7777'); but I get ws.on is not a function later when I try calling ws.on('open',....)

Thanks!
Dinko

[2019-12-17 14:50] dinkoivanov commented on #60
I tried https://gist.github.com/mkozjak/fa9296484c40445af516e563c65536bf, but I got "RPCWebSocket is not a constructor" error.
I assume I need to download and add the "dist/index.browser-bundle.js" script in my HTML. Is this the correct library?

[2019-12-17 15:00] dinkoivanov commented on #60
Using RPCWebSocket.Client did the job :+1:
Thanks!

[2019-12-17 15:00] #60 closed

[2020-01-03 13:20] mkozjak opened #61 "If reconnect is disabled it still reconnects if max_reconnects is 0"
This needs further research.

https://github.com/elpheria/rpc-websockets/blob/82a86d87e0723bcc0a4ecea794bcc6ba08c323cf/src/lib/client.ts#L370

[2020-01-08 16:23] mkozjak commented on #29
@FMRb: btw, any initial feedback on this feature, maybe? :)

[2020-01-10 04:53] EzraWeller opened #62 "`Uncaught TypeError: WebSocketServer is not a constructor` in browser w/ webpack"
We're working on a web app using Mithril.js and webpack. Currently getting this error: `Uncaught TypeError: WebSocketServer is not a constructor` when trying
[code]

Locally, the rpc-websocket object looks like:
`{ Server: [Getter], Client: [Function: Client] }`

In the browser, I get:
`{__esModule: true, Client: ƒ}` (no Server)

[2020-01-10 06:43] mkozjak commented on #62
Hi, @EzraWeller, does it work with rpc-websockets version 4.x as expected?

[2020-01-10 13:46] EzraWeller commented on #62
Seems to be the same problem using both `^4.6.1` and the latest.

[2020-01-12 03:13] EzraWeller commented on #62
So, we didn't solve this exactly, but we think the answer is pretty simple: we were trying to create a websocket server inside the browser, which is why the option wasn't available.

[2020-01-12 10:44] mkozjak commented on #62
@EzraWeller: Thanks for the info! Should we update the docs or the api itself to make this more clear? Have any opinions on that?

[2020-01-17 14:43] mkozjak opened #63 "Revise licensing"
In order to move further with the Pro version, we might need to adapt licensing.

For example, https://github.com/mperham/sidekiq/blob/master/LICENSE.

https://choosealicense.com/licenses

https://www.mongodb.com/licensing/server-side-public-license/faq

[2020-01-17 19:42] #62 closed

[2020-01-19 14:16] mkozjak commented on #63
Resolved with ea4a76be20738208b36a29bc38876aac407ed4b7.

[2020-01-19 14:16] #63 closed

[2020-01-28 12:33] sk91 opened #64 "login middleware authenticates all clients"
Hi,
Trying to understand how login middlewere should work.

Came across this code:

[code]

Does it mean that  after one client authenticates, all clients are authenticated automatically?

[2020-01-28 12:35] mkozjak commented on #64
No, only that specific client is authenticated.

[2020-01-28 13:15] sk91 commented on #64
Sorry, @mkozjak it does not seems so. What am I missing?

here is a test code:
[code]

and here is the output:

[code]

[2020-01-28 13:29] mkozjak commented on #64
@sk91: You're definitely correct, good catch!

We store clients in `this.namespaces[ns].clients` so maybe we could find some place to store the authenticated info there? Would you like to provide a PR to fix this bug? Thanks in advance!

[2020-01-28 13:32] sk91 commented on #64
@mkozjak, researching now a solution to create a mobile <-> desktop communication over LAN.
This library seems like a good one to go with.

If we decide on it, I will do the fix, it seems simple enough

[2020-01-28 13:33] mkozjak commented on #64
@sk91: Okay, also feel free to provide a PR to add your company to the list of users if you see fit: https://github.com/elpheria/rpc-websockets#users

[2020-02-11 09:46] namnguyentat opened #65 "How does server call client method in version 6.x ?"
Thank you very much for this wonderful library.
I am building an application that need server call client method.
How can I do that in version 6.x ?

[2020-02-11 09:48] mkozjak commented on #65
@namnguyentat - by using the callMethod instead of call: https://github.com/elpheria/rpc-websockets/blob/v6.x/API.md#wscallmethod-params-timeout-ws_options---promise

[2020-02-11 09:55] namnguyentat commented on #65
@mkozjak Thanks for your answer.
But I mean form `WebsocketServer`, how can I call client method
## Server side
[code]
## Client side (browser)
[code]
How can I call `client_method` from server side ?

[2020-02-11 09:59] mkozjak commented on #65
You should be able to get to client's socket through this one:
https://github.com/elpheria/rpc-websockets/blob/v6.x/API.md#namespacegetclients---array

[2020-02-12 01:53] namnguyentat commented on #65
@mkozjak Thank you very much

[2020-02-12 01:53] #65 closed

[2020-03-10 05:54] abdalrahmanSrour opened #66 "No Protocols Passed to `window.WebSocket`"
Hello and thanks for this great JSON-RPC 2.0 implementation

Anyway i was looking around your implementation and found that in **Client** APIs the "protocols" is not being passed to "window.WebSocket".
[Here](https://github.com/elpheria/rpc-websockets/blob/master/src/lib/client/websocket.browser.ts#L26) at line 26
https://github.com/elpheria/rpc-websockets/blob/ea4a76be20738208b36a29bc38876aac407e

[2020-03-10 09:19] mkozjak commented on #66
Thanks, @abdalrahmanSrour, sounds good. Please provide a PR including tests and I’ll be more than happy to take a look and include it!

[2020-03-11 02:52] namnguyentat opened #67 "v6.x Uncaught (in promise) TypeError: cb is not a function"
https://github.com/elpheria/rpc-websockets/blob/8c6529d12ae8f5df1e5dfaa019c8537c2d8a9abf/src/lib/JsonRpcSocket/index.ts#L573-L591

`cb` is optional parameter here, but `this._socket.send` require that `cb` is a function
So we should add default `cb` function here or require `cb` parameter

[2020-03-11 08:28] mkozjak commented on #67
Thanks, @namnguyentat! Would you care to provide a PR for 6.x?

[2020-03-11 09:04] namnguyentat commented on #67
@mkozjak
I've created PR to fix it https://github.com/elpheria/rpc-websockets/pull/68
Please help me check it
Thank you very much

[2020-03-11 10:00] #67 closed

[2020-03-16 18:43] mkozjak commented on #29
Due to positive feedback this will hit master soon. It’s currently released as 6.x in beta due to insufficient migration docs, but that should be available soon. Closing this one.

[2020-03-16 18:43] #29 closed

[2020-04-04 22:41] dsagal commented on #64
This issue means that login/setAuth cannot be used at the moment. They should be removed from documentation until there is a way to use them.

[2020-04-19 20:53] hugohammarstrom opened #71 "Socket id as parameter in registered methods"
It would be really helpful if the socket id (or maybe the socket object?) could be used in the registered methods.

Currently, I'm using [patch-package](https://www.npmjs.com/package/patch-package) to make the necessary changes to get `socketId` passed as a parameter when the method is called.

[code]

[2020-06-01 02:37] Heniker opened #72 "How do I know who sent a notification?"
In README there is this line -
[code]
This is not useful if I can't know which client sent the message.
Is there any way of identifying the client besides using different Namespaces for each connection?

[2020-06-01 06:16] mkozjak commented on #72
Unfortunately, no, you can only send some client id with each msg that gets sent from the client after the client was connected with a particular ID. For example:
[code]

I agree this should be handled internally, optionally. PRs welcome!

[2020-06-01 06:21] mkozjak commented on #72
@Heniker, please use v5.1.2 for the above workaround.

[2020-06-01 17:58] #72 closed

[2020-06-01 18:04] mkozjak commented on #72
@Heniker, this is now available in v5.2.0. Please test the release.

You still need to provide `socket_id` query parameter in your connection initialization to make any sane use of it. If you don't, a default random uuid will be generated and forwarded.

[code]

[2020-06-01 19:28] mkozjak commented on #71
@hugohammarstrom - Available in v5.2.1!

[2020-06-01 19:28] #71 closed

[2020-06-01 19:35] mkozjak opened #73 "Migrate from istanbul to nyc"
Blocked by nickmerwin/node-coveralls#277.

[2020-06-01 20:27] #64 closed

[2020-06-01 20:27] mkozjak commented on #64
@dsagal - the bugfix is available in v5.2.2.

[2020-06-02 00:56] Heniker commented on #72
This looks promising. Thank you for your work!

[2020-07-20 02:37] gisorliu opened #75 "Uncaught TypeError: WebSocketServer is not a constructor"
I installed 'rpc-websockets',and wrote my source code follow the quick start,bu i get the follow error.
Uncaught TypeError: WebSocketServer is not a constructor...

var WebSocket = require('rpc-websockets').Client
var WebSocketServer = require('rpc-websockets').Server

// Uncaught TypeError: WebSocketServer is not a constructor...
var server = new WebSocketServer({
  port: 8080,
  host: 'localhost

[2020-07-20 11:00] mkozjak commented on #75
Works for me:
[code]

[2020-07-20 11:00] #75 closed

[2020-07-24 00:11] movitto opened #76 "Typo in the README"
`ws.call('account'),then(function(result) {`

should be:

`ws.call('account').then(function(result) {`

(Comma changed to a period)

[2020-07-24 10:09] #76 closed

[2020-07-24 10:09] mkozjak commented on #76
Thanks, @movitto!

[2020-08-03 00:02] james-ct opened #78 "Cannot protect event subscription"
Hi,

I really like this library, and the auth/protected layer it puts on top, however this protection doesn't extend to the event extension, is there a reason why this is like it is? If not it would be great to see added.

[2020-08-03 06:37] mkozjak commented on #78
Hi, @james-ct, and thanks for the kind words!

This wasn't implemented as of yet since there was no demand for it in our projects, but should be easily accomplished by checking out if the socket has its login status as authenticated. If not, it should not send an event to it. All events should be public by default.

Care to provide a PR for that? Thanks!

[2020-08-03 23:40] movitto opened #79 "login promise should be rejected upon failed login"
Greetings! Thanks for the great library, starting to put it to use in a new project.

While experimenting w/ the authentication feature, I noticed the client 'login' promise will always result the 'resolve' callback being invoked even if setAuth returns false. The client can distinguish between successful and failed logins via the parameter specified to this callback (true for success, false for f

[2020-08-04 17:55] mkozjak commented on #79
Hey, @movitto! Thanks for the kind words!

Yes, I completely agree on this one. I believe we should implement a try/catch block at https://github.com/elpheria/rpc-websockets/blob/f99c046b01b2389df96f6ad1899996343c2f3742/src/lib/client.ts#L179

Care to provide a PR? Thank you in advance!

[2020-08-05 07:05] #78 closed

[2020-08-05 13:06] mkozjak commented on #44
@coderNeos any updates on this one maybe?

[2020-08-05 13:08] mkozjak commented on #66
Any updates on this one, @abdalrahmanSrour?

[2020-08-07 15:55] mkozjak commented on #79
This would also require a major version bump since it breaks client’s api.

[2020-08-11 13:37] mkozjak commented on #79
@movitto can you checkout branch v7.x and check if the implementation is good enough for you?

[2020-08-13 11:06] mkozjak commented on #79
It works.

[code]

[2020-08-13 11:12] mkozjak commented on #79
The feature will be available in v7.0.0.

[2020-08-13 11:12] #79 closed

[2020-08-13 12:40] movitto commented on #79
Thanks @mkozjak, haven't gotten the chance to try it out locally yet but it looks great!

[2020-08-26 04:35] jstarry opened #83 "Race condition in client RPC response queue handling"
First of all, thanks @mkozjak for maintaining this library!

#### Problem
When a client sends an RPC request, this library adds `[resolve, reject]` Promise callbacks to a queue so that they can be called when the RPC server responds. When the response is received over the websocket, those callbacks are invoked and will be resolved asynchronously. However, websocket messages can be batched and proc

[2020-08-26 08:17] mkozjak commented on #66
@abdalrahmanSrour - ping!

[2020-08-26 08:33] mkozjak opened #85 "Migrate from circular-json to flatted"
*circular-json* got deprecated (long live, open-source)!
The new kid on the block now is *flatted*: https://www.npmjs.com/package/flatted

[2020-08-26 08:34] mkozjak opened #86 "Upgrade ws to 7.x"

[2020-08-26 08:35] abdalrahmanSrour commented on #66
Pong!

Sorry for not replying, actually i moved to implement new WS client.
Anyway if i had sometime soon i will try to do it.

[2020-08-26 08:39] mkozjak commented on #66
@abdalrahmanSrour: Using another lib? Which one?

[2020-08-26 08:40] mkozjak commented on #86
Done in 7.2.0.

[2020-08-26 08:40] #86 closed

[2020-08-26 08:46] mkozjak commented on #44
websockets/ws#1532

[2020-08-27 04:24] CriesofCarrots opened #87 "After calling Client.close, Client.connect won't reconnect"
After Client.close is called, Client.socket still exists, but with `readyState = CLOSED`. As a result, a subsequent call to Client.connect hits the following check and returns before the connection is re-established:
https://github.com/elpheria/rpc-websockets/blob/2f6b5faf63a74d10ca82560dd476d68ff6783418/src/lib/client.ts#L107

I'm not certain of the best solution here; perhaps different handling

[2020-08-27 05:21] mkozjak commented on #87
@CriesofCarrots - Makes sense! Maybe we should check if the [state](https://github.com/websockets/ws/blob/master/doc/ws.md#class-websocket) is 3 and not return in that case.
Also, I think *connect()* should throw on certain states like 0, 1 and 2 to note the user that the connection process is currently in place.

Care to provide a PR addressing those things? Thanks in advance!

[2020-09-05 09:34] jstarry commented on #83
@mkozjak can you please re-open this issue? This is not fixed yet in Node.js

The issue is that queue messages are resolved via promises which get placed in the microtask queue but notifications messages are added to the nextTick queue. The intent is that queue messages are processed first, but in reality, the Node.js event loop processes the nextTick queue before the microtask queue [1]

I believ

[2020-09-05 09:37] mkozjak commented on #83
@jstarry fair enough. can you provide a PR tackling this?

[2020-09-05 09:37] jstarry commented on #83
will do!

[2020-09-05 09:38] mkozjak commented on #87
@CriesofCarrots - would be nice to get some more feedback for you since you're the most relevant person to test this feature if it makes sense.

[2020-09-05 10:41] #83 closed

[2020-09-06 09:55] #87 closed

[2020-09-06 16:51] #44 closed

[2020-09-08 15:49] CriesofCarrots commented on #87
@jstarry , thanks very much for taking this over!

[2020-09-12 19:30] debevv opened #91 "No RPC exception is thrown when a received Response object does not contain both the "result" and "error" fields"
Hi, I was using the client in the library against a simple server that echoes the JSON message sent by the client, for example:
[code]
Per JSON-RPC 2.0 spec, the server is required to respond with a `Response` object which contains a `result` property in case of success, or an `error` on in case of error. But, when my server responses with that JSON, both of them are absent.
So I expected to recei

[2020-09-13 09:15] mkozjak commented on #91
Hi, @debevv, I’m not 100% sure if I understood what sxactly your server sends to the client, so could you provide the code example using this lib’s server class so I can take a closer look? Thanks!

[2020-09-14 12:57] debevv commented on #91
Sorry, I should have phrased it better.
Essentially, using the library as a client, if i call() a method:
[code]
and the server responds with an RPC Response object like this (which should be non-compliant):
[code]
the `result` variable will be `undefined`, and no exception will be thrown by `call()`. I would expect an exception here because of this JSON-RPC 2.0 spec statement: "Either the result

[2020-09-14 17:30] mkozjak commented on #91
The response you provided is a valid one, it's compliant. The json-rpc 2.0 rule you quoted is handled internally by rpc-websockets here https://github.com/elpheria/rpc-websockets/blob/master/src/lib/client.ts#L300.
Again, I'd need a complete code example for both server (whatever language) and client (here) to see if we're having a bug, eventually.

[2020-09-14 17:35] mkozjak commented on #91
@debevv - Aah, thanks for the explanation. Makes sense. Are you able to provide a full example of your server code (any language) and client code (here)?

[2020-09-14 17:59] debevv commented on #91
This is the server code, written in go: [ws-server.zip](https://github.com/elpheria/rpc-websockets/files/5220099/ws-server.zip)
The client code is very simple indeed, just connect and make a call(), that is basically what I'm doing at the moment in my web client:
[code]

[2020-09-15 08:56] #91 closed

[2020-09-15 08:57] mkozjak commented on #91
Thanks, @debevv, this should be fixed in 7.4.3.

[2020-09-16 08:40] cloudeighto opened #92 "Bad commit breaking existing apps"
https://github.com/elpheria/rpc-websockets/commit/30a2192a7f6ae7fe3a0c014eedb354e2f1f51a8e

This commit is erroring for the solana blockchain's websockets with:

[code]
on json rpc messages that don't provide a `message.id`

Additionally, this commit adds spammy console logs.

@mkozjak

[2020-09-16 08:47] cloudeighto commented on #92
<img width="470" alt="screen" src="https://user-images.githubusercontent.com/71376640/93314413-8f679a80-f7be-11ea-904a-4fa0202454ff.png">

screenshot of the params. I think its because the error field is undef?

[2020-09-16 08:49] #92 closed

[2020-09-16 08:50] mkozjak commented on #92
@cloudeighto - Sorry for this. It should be fixed in 7.4.5 which is now released!

[2020-10-09 18:04] beautyfree opened #94 "Why do you use CircularJSON?"
We encountered a bug related to the fact that the user wrote a post where on the last line he wrote `~`

This caused the whole object to get into this property instead of the `~`

So why do you use this package? Why didn't you write about it anywhere? Now we have to use either another library or fork this with changes, and that's after 2 years of using it.

[2020-10-09 19:40] mkozjak commented on #94
@beautyfree - Since there's more hate in your post than appreciation for years of work myself and other folk did on this library, your post just earned a report towards github for further inspection. I'm also closing this ticket. Hope you're going to learn something outta this situation. Thank you.

[2020-10-09 19:40] #94 closed

[2020-10-09 19:48] mkozjak commented on #94
@beautyfree - Be very aware about forking this library checking the LICENSE file of this project. If you do anything wrong with it - I'll charge you. Thank you.

[2020-11-27 06:00] lucaswxp opened #96 "WebSocket with close code 1006"
I'm trying to debug a weird intermittent issue where the client sometimes is not able to create/connect to the websocket.

I have a simple setup:

[code]

Problem is, sometimes the 'open' is never called. I managed to monkeypatch into the `rpc-websockets` source code to gather more info, and I found out that `ws.socket` stays in the following state:

[code]

And it stays forever that way. The only

[2020-11-27 14:16] mkozjak commented on #96
@lucaswxp Thank you for reporting the issue. Since you can reproduce this one, are you interested in authoring a PR to possibly fix this?

[2020-11-27 15:52] lucaswxp commented on #96
@mkozjak I have no idea how to debug this further, any suggestion? I got as far as I was could by myself.

[2021-03-01 18:31] wizd opened #97 "client also need register rpc method"
[code]

this should be available to client also to support server callback.

[2021-03-01 18:34] mkozjak commented on #97
Hi, @wizd, thanks for the comment. This one is part of the v6 which isn’t released yet. You can try testing that release, it’s up on npm!

[2021-03-11 08:18] nshen opened #99 "why do I need python when I install this package?"
![image](https://user-images.githubusercontent.com/181506/110756575-59930280-8285-11eb-9db2-3129bbd590aa.png)

[2021-03-11 08:20] mkozjak commented on #99
node-gyp requires it. https://github.com/nodejs/node-gyp#on-unix.

[2021-03-11 08:20] #99 closed

[2021-03-12 17:54] mkozjak commented on #97
@wizd have you tried v6?

[2021-03-12 19:43] wizd commented on #97
not yet but I added a server callback to make it works:

[code]

[2021-03-16 03:46] nshen commented on #99
I think this is a library on top of websocket , why do we need node-gyp though ?

[2021-03-16 05:48] mkozjak commented on #99
Peer dependencies still need to be built.

[2021-04-05 19:27] vssalcedo opened #102 "Method Not Found when making an RPC call"
Hi there.

I'm setting up a public server to test an RPC call from anywhere, but when it comes to call an RPC function it returns:
`{ code: -32601, message: 'Method not found' }`

It's pretty weird because I tested the rpc method with wscat like so:
1) Connected to the rpc server with: wscat --connect ws://localhost:8082
2) Once connected, I used this cmd to call the 'test' method.
`{"jsonrpc": "2

[2021-04-06 09:32] trasherdk commented on #102
Method should probably be on of GET, POST, PUT, DELETE, PATCH and more I can't think of right now.
And the target endpoint should go in params.

I'm only guessing here :)

[2021-04-06 14:29] sagittaracc opened #103 "Can I use it in browser? If yes, how?"

[2021-04-06 14:33] #103 closed

[2021-04-07 08:02] sagittaracc opened #104 "Listen socket events on null after create one"
- Include index.browser-bundle.js
[code]
- Connect in index.js
[code]
- Try to listen when it opens
[code]
- Get an error ws.on is undefined

[2021-04-12 22:55] tsapko3628 opened #105 "Origin and headers aren't passings to client"
I'd want to use this client for test in node js environment. I tried to pass origin option (what exists in type declarations), but nothing happened. I also tried to pass headers and origin in headers, but nothing happened to. I found that it because only some options used and other options are ignored. It happening here https://github.com/elpheria/rpc-websockets/blob/master/src/lib/client.ts#L70.

[2021-04-13 05:00] mkozjak commented on #105
Hello, you can fork it and provide a PR with your solution.

[2021-04-14 13:35] mkozjak commented on #104
Can you please check if you have `WebSocket` instantiated there?

[2021-04-14 14:22] sagittaracc commented on #104
Yes, sure.
This is what i do in index.js:
[code]
This is what i get:
[code]

[2021-04-14 15:50] sagittaracc commented on #104
Im sorry that was probably misusing. Ive found an  issue in this repo which tells i should go like this:
[code]
But i didnt notice anything in doc relation to this
Now it seems to be working fine. At least the socket exists and the open event has triggered

[2021-04-14 15:57] #104 closed

[2021-05-30 08:25] m1rku5 opened #110 "TypeError: Super expression must either be null or a function"
Hi,
I'm using rpc-websocket (7.4.12) on my nodejs (4.17.0) react project. But when declare the client I got this error:
TypeError: Super expression must either be null or a function
_inherits
d:/Test/JS/argo/node_modules/@babel/runtime/helpers/inherits.js:5

  2 |
  3 | function _inherits(subClass, superClass) {
  4 |   if (typeof superClass !== "function" && superClass !== null) {

  6 |   }
  7

[2021-05-31 02:07] trasherdk commented on #110
You could start by [reading markdown documentation](https://guides.github.com/features/mastering-markdown/) and format your post properly :smiley:

[2021-06-02 14:46] beautyfree commented on #105
@tsapko3628 @mkozjak this feature is really needed

[2021-06-04 05:31] trasherdk commented on #105
As I understand, there's no HTTP protocol, like headers, involved in a websocket connection, so exchange of stuff you normally would have in HTTP headers, like tokens and stuff, has to be handled by client/server conversation after a connection is made.
Take a look at [a-simple-example](https://javascript.info/websocket#a-simple-example) explaining the handshake thing.

[2021-06-09 08:31] #110 closed

[2021-06-09 11:51] m1rku5 opened #111 "How notify an event"
Hi,
I've created an event on my server called 'test'. Then I want notify on this event from a client, but I got this error:
[code]

The code of my client is the following:
[code]
On the server is online and the event has been already created:
[code]
Where's my error?

Thanks,
   Mirko

[2021-06-09 12:15] mkozjak commented on #111
You called `ws.close()` instantly on running `send_test_event`. Node.js is async. `for` and `ws.close` happen at practically the same time.

[2021-06-09 12:22] m1rku5 commented on #111
You're right...

Thanks
   Mirko

[2021-06-09 12:22] #111 closed

[2021-06-09 13:12] m1rku5 opened #112 "Subscribe not working."
Hi,
I think I don't understand how the events tool works. Now I've a first client that notify an event every second:
[code]

And a second one that subscribes the same event:
[code]

But I don't get any notifications, and I don't understand why...

Thanks for your help and time,
    Mirko

[2021-06-09 13:14] mkozjak commented on #112
Only server can emit events.

https://github.com/elpheria/rpc-websockets/blob/master/API.md#serveremitname-params

[2021-06-09 13:27] m1rku5 commented on #112
Ok perfect. Maybe I'm starting to understand. Just another question. Is it possibile to revoke
an event? if yes how?

Thanks,
   Mirko

[2021-06-09 13:32] mkozjak commented on #112
Not directly. You could probably modify the event list object and unset it that way.

[2021-06-09 13:32] #112 closed

[2021-06-11 09:55] m1rku5 opened #113 "Identify disconnecting client."
Hi,
I'd like to identify inside the 'disconnection' server's handler which client is disconnecting. Is there a unique identifier that I can use? And can I use this identifier to understand to which event it was subscribed?

Thanks,
   Mirko

[2021-06-11 10:08] tsapko3628 commented on #105
No. There is a http protocol and it uses for handshake and I can send http headers in handshake response. But this issue about another problem. Browser send http headers like "Origin" and "Cookie" in http handshake request. I want to use them in this package then I connect to server. I know that I can pass headers in browser (there're no APIs for it) but I still can do it on server side. My case i

[2021-06-11 11:58] mkozjak commented on #113
Yes, @m1rku5, a unique socket identifier should be available through the `_id` key in a callback parameter of `disconnection`.

[2021-06-15 15:08] #113 closed

[2021-06-15 16:18] m1rku5 commented on #113
Thank @mkozjak. You're right but the 'disconnection' handler is called after that the client has been removed from the list of the events.

[2021-06-15 17:25] m1rku5 opened #115 "How subscribe an event created inside a namespace."
Hi,
I've created an event inside a namespace:
[code]

Then I use this command to emit a new event:
[code]

On the client I try to subscribe to the event in this way:
[code]

But I don't get any update. I can get it just when I don't use namespace.

Thanks,
   Mirko

[2021-06-15 21:00] m1rku5 commented on #115
Ok, maybe I understood. The client specifies the namespace in the server connection url, is it right? If yes is there a way for a client in a namespace to call a method in the root ('/') namespace?

Thanks,
   Mirko

[2021-06-17 10:54] mojitoo opened #116 "Emit event with params"
**Without Params : Works Great**

- Server Side :

`server.emit(params[1])
`

- Client Side :

[code]

**With Params : nothing happens**

- Server Side :

`server.emit(params[1],p)
`

- Client Side :

[code]

Can you help me please. Something wrong with my code ?

[2021-06-21 18:04] mojitoo commented on #116
i found out that when you emit an event with params the first time, this will not trigger the "on" function on client side. it will only works after a refresh

[2021-06-23 09:09] mojitoo commented on #115
there is a workaround i found, you could try
just after emitting the event, make sure to refresh the page on client side and see if the client get notified

[2021-06-27 07:15] #116 closed

[2021-07-12 11:19] mojitoo opened #118 "Rpc-websockets on heroku"
After i deployed my app on heroku i had an issue, if you can help me please
[code]

how can i please pass the express server (as a param) to the websocket server?

Thank you

[2021-08-19 18:36] ekoeryanto commented on #118
see npm.im/ws

[2021-08-25 23:55] pljeskavica opened #119 "Publish 7.4.13 to NPM"
7.4.13 is the first release which removes the 101 dependency to resolve [CVE-2021-25943](https://nvd.nist.gov/vuln/detail/CVE-2021-25943).  The tag was created back on June 20th, but it was never deployed to npm.  Can you please deploy this?

[2021-08-26 06:38] mkozjak commented on #119
Done!

[2021-08-26 06:38] #119 closed, assigned to nobody

[2021-09-16 20:25] gpxl-dev commented on #97
@mkozjak I am confused by this - can you confirm if v6 is live?
AFAICT we're now on v7, but I can't see how a server can call a client method?

Thanks.

[2021-09-17 07:18] mkozjak commented on #97
Yup, v6 is beta only, in v7 we continued developing regular version since we didn't get any feedback on v6 so we ignored it.

https://www.npmjs.com/package/rpc-websockets/v/6.0.2-beta.0

PRs welcome.

[2021-11-02 19:22] mojitoo opened #123 "How to get the Emit response ?"
is it possible to know if subscriber received the message when using the emit method ?
thank you

[2021-11-20 18:26] gxxcastillo commented on #103
The solution is mentioned here:
https://github.com/elpheria/rpc-websockets/issues/60

[2022-01-27 09:54] TheTreeofGrace opened #124 "Dependency Vulnrabilities"
From an appium package it is giving a critial vulnrability of a package that is used by a package in this package.

│ Critical      │ Prototype pollution in 101                                   │
│ Package       │ 101                                                                     │
│ Patched in    │ No patch available                                           │
│ Dependency of │ appium [dev]

[2022-01-27 10:03] mkozjak commented on #124
Hello! I think it's up to you to maintain your node_modules directory. Aside from that, latest rpc-websockets version isn't using assert-args nor is it listed in package-lock.json. Can you check what version you are using?

[2022-01-27 10:04] mkozjak commented on #124
I'll also do a quick package-lock.json refresh on my end and publish the package, but that shouldn't make any difference to you.

[2022-01-27 10:59] TheTreeofGrace commented on #124
Hi thanks,

This can be closed as have itendified it is appium package that needs to update to latest version of appium-flutter-driver where they are using latest version of your module.

Thanks again :)

[2022-01-27 11:17] #124 closed, assigned to nobody

[2022-03-27 08:00] kakserpom opened #128 "Ignore null in result/error"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `rpc-websockets@7.4.17` for the project I'm working on.

whitebit.com sends "error: null" and I constantly get `Server response malformed. Response must include either \"result\"" + " or \"error\", but not both.`

Here is the diff that solved my problem:

[code]

<

[2022-03-28 19:07] mkozjak commented on #128
What's your response json? Does it abide to the spec?

[2022-03-29 04:21] kakserpom commented on #128
@mkozjak whitebit.com API  sends "error: null, response: ..." or "error: ..., response: null".

[2022-04-22 12:42] #85 closed

[2022-05-09 17:27] m2kar opened #132 "Help! Run ws on the same port as a http Express?"
# How to run ws on the same port as a http Express?

I tried the example `express-session-parse` given by `ws` [(link)](https://github.com/websockets/ws/tree/master/examples/express-session-parse), and replace the `const { WebSocketServer } = require('ws');` to `const  WebSocketServer = require('rpc-websockets').Server;`, and add a `hello` remote function, but it didn't work. The client has no out

[2022-05-18 12:07] OhFlohre opened #133 "Access connected clients"
Is there a way to list all connected clients. Or at least all connected clients for a specific namespace?

[2022-05-18 12:08] mkozjak commented on #133
Yes: https://github.com/elpheria/rpc-websockets/blob/trunk/API.md#namespaceconnected---object

[2022-05-18 12:08] #133 closed, assigned to nobody

[2022-05-18 13:08] OhFlohre commented on #133
Well thanks but how do i access namespaces ? It's a private member of the server object

[2022-05-18 13:09] mkozjak commented on #133
With this function: https://github.com/elpheria/rpc-websockets/blob/trunk/API.md#serverofname---namespace

[2022-05-18 13:14] OhFlohre commented on #133
Oh, thanks alot :D

[2022-06-02 17:08] #1 closed

[2022-07-11 05:07] MassMessage opened #134 "Is this the proper way to close the socket?"
Give a socket server like this:

[code]

what's the proper way to clean up this? i also i'd like to null it when done:

[code]

Is this the proper way to do this? or I don't need to subscribe to close event for example and just do:

[code]

[2022-07-11 09:02] mkozjak commented on #134
Yes, all your examples are valid. All good!

[2022-07-11 09:02] #134 closed, assigned to nobody

[2022-10-21 05:21] ghostxbh opened #136 "The Map type cannot be returned using the Server registration method"
## issue
I register a method by using the Server. The method returns a data body of Map type, but I get `{}` from the Client

## code template
[code]

[2022-11-29 02:51] shashikiran-pdi commented on #96
+1
I am facing the same issue

@lucaswxp Did you find any root cause or a work around to fix this issue?